
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            @Html.ActionLink("Vidly", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    @Html.ActionLink("Customer", "Index", "Customers",null, new { @class = "nav-item nav-link active" })<span class="sr-only">(current)</span>
                    @Html.ActionLink("Movies", "Index", "Home", new { @class = "nav-item nav-link active" })
                </div>
            </div>
        </nav>
    </div>
</div>