@model Vidly.ViewModels.RandomMovieViewModel

@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@{
    var className = Model.Customers.Count() > 0 ? "popular" : null;
}

<h2 class="@className">@Model.Movie.Name</h2>

@if (Model.Customers.Count() == 0)
{
    <text>Esta pelicula nunca ha sido rentada antes</text>
}
else
{
    foreach (var item in Model.Customers)
    {
        <li>@item.Name</li>
    }
}



